* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  background-image: linear-gradient(to right,#e84e14,#9c2d05fd);

}
.container {
  display: flex;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.areaLogin {
  display: flex;
  padding: 0;
  border-radius: 20px;
  align-content: center;
  background-image: linear-gradient(to right,#e84e14,#9c2d05fd);
  justify-content: space-between;
  height: 90%;
  width: 80%;
}

.content-first-content {
  display: flex;
  align-items: center;
  padding: 0;
  width: 30%;
  height: auto;
  border-top-left-radius: 20px  ;
  border-bottom-left-radius: 20px  ;
  background-color: #fff;
  flex-direction: column;
}

.first-column {
  text-align: center;
  gap: 15px;
  padding-bottom: 20px;
}

.content-first-content img {
    padding-top: 40px;
    width: 80%;
    height: 40%;
    padding-bottom: 20px;
}

.form {
  display: flex;
  padding-top: 40px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}

.form input{
    height: 30px;
    width: 250px;
    border: 1px solid #e84e14;
    border-radius: 20px;
}

input::placeholder{
  padding-left: 10px;
}


.form a{
  display: flex;
  width: 10rem;
  align-items: center;
  justify-content: center;
  height: 40px;
  border: none;
  border-radius: 20px;
  transition: 0.5s, transform 0.3s ease;
  color: #000;
  background-color: #e4e3e3;
}

.form button:hover{
    background-color: #e84e14;
}

.content-second-content{
    width: 100%;
    height: 100%;
}

.content-second-content img {
    width: 100%;
    border-radius: 20px;
}
