* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  html,body{
    height: 100%;
    margin: 0;
  }
  
  
  .container {
    display: flex;
    margin: auto;
    width: 90%;
  }
  
  header {
    height: 50px;
    background-color: #e84d14dc;
  }
  
  header .container {
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  header h1 {
    padding-top: 5px;
    color: #ffffffec;
  }
  
  body {
    display: flex;
    flex-direction: column;
  }
  
  main{
    flex: 1;
  }
  main .container {
    margin-top: 50px;
    background-color: #858585d5;
    border-radius: 10px;
  }
  
  .areaCadastro {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 25px 20px 30px 20px;
  }
  
  p {
    font-size: 18px;
    padding-bottom: 10px;
    color: #fff;
  }
  
  input {
    width: 20%;
    height: 35px;
    padding-left: 5px;
    border: none;
  }
  
  input:focus {
    border: none;
    outline: none;
  }
  
  .upper {
    text-transform: uppercase;
  }
  
  
  .opcoes {
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .opcoes-left button {
    padding-right: 30px;
  }
  
  
  .atualizar,.atualizarS,#sair {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
  }
  
  #Atualizar:hover,#AtualizarS:hover,#sair:hover {
    color: #ff7300;
  }
  
  footer {
    height: 50px;
    background-color: #e84d14dc;
  }
  
  footer .container {
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  footer h2 {
    padding-top: 10px;
    color: #ffffffec;
  }