* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 60px;
  background-color: #e84d14dc;
}

.container {
  display: flex;
  width: 95%;
  align-content: center;
}

header .container {
  position: relative;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  width: 35%;
  align-content: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  flex: 1;
  list-style-type: none;
  position: relative;
}

.botaoAreaCadastro {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.botaoAreaCadastro:hover {
  color: #777777;
}

.botaoAreaCadastrofirst{
  border: none;
  font-size: 17px;
  color: #fff;
  background-color: transparent;

}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 150px;
  z-index: 1000;
  border-radius: 8%;
}

.submenu li {
  padding-top: 15px;
  width: 100%;
}

.submenu li a {
  display: block;
  padding: 15px;
  width: 100%;
  color: white;
  text-decoration: none;
  border-radius: 8%;

}

.submenu li a:hover {
  width: 99%;
  color: #777777;
  background-color: #e84d14b0;
  border-radius: 10%;

}

nav ul li:hover .submenu {
  flex: 1;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  background-color: #e84d14a9;
}

.botaoAreaCadastro,
.relatorio a {
  font-size: 17px;
  color: #fff;
}

.relatorio {
  display: flex;
  align-items: center;
  align-content: center;
}


main {
  display: flex;
  height: 90vh;
  align-items: center;
  align-content: center;
  justify-content: center;
}

main img {
  width: 50%;
  height: 50%;
}