* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }


  header {
    display: flex;
    height: 5vh;
    background-color: #e84d14dc;

  }
  
  
  .container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 70%;
}

  
  header h1 {
    text-align: center;
    color: #ffffffec;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  
  main{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: start;
  }

  main .container {
    margin: 20px auto 20px auto;
    background-color: #858585d5;
    border-radius: 10px;
    width: 90%;
    height: auto;
  }
  
  .areaCadastro {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
  }
    
  p {
    font-size: 18px;
    padding-bottom: 10px;
    color: #fff;
  }
  
  input, select {
    width: 20%;
    height: 35px;
    padding-left: 5px;
    border: none;
  }
  
  input:focus,select:focus {
    border: none;
    outline: none;
    padding-left: 5px;

  }

  .upper {
    text-transform: uppercase;
  }
  
  .opcoes {
    width: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .opcoes-left button {
    padding-right: 30px;
  }
  
  
  #salvar,#salvarS,#sair {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
  }
  
  #salvar:hover,#salvarS:hover,#sair:hover {
    color: #ff7300;
  }
  
  footer {
    display: flex;
    height: 5vh;
    background-color: #e84d14dc;
  }
  
  footer .container {
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  
  footer h2 {
    color: #ffffffec;
  }