* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  .container {
    display: flex;
    margin: auto;
    width: 90%;
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}